<template>
     <svg class="svg-45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 354 344">
                <g id="freepik--404--inject-2">
                  <path class="primary-color" fill-rule="evenodd" d="M76.68 220.64L15.83 220.64L15.83 193.17L76.68 120.83L105.8 120.83L105.8 194.73L120.89 194.73L120.89 220.64L105.8 220.64L105.8 243.12L76.68 243.12L76.68 220.64ZM76.68 194.73L76.68 156.89L44.52 194.73L76.68 194.73Z"></path>
                  <path class="primary-color" fill-rule="evenodd" d="M143.64 134.51C151.87 125.37 164.4 120.8 181.25 120.81C189.34 120.81 195.98 121.81 201.18 123.81C202.36 124.23 203.51 124.72 204.64 125.26C205.77 125.8 206.87 126.4 207.93 127.05C209 127.71 210.03 128.42 211.03 129.18C212.02 129.93 212.98 130.74 213.89 131.6C214.66 132.34 215.4 133.1 216.11 133.89C216.82 134.68 217.5 135.5 218.15 136.35C218.8 137.19 219.42 138.06 220 138.95C220.58 139.84 221.13 140.76 221.64 141.69C222.15 142.67 222.62 143.66 223.07 144.66C223.51 145.67 223.92 146.69 224.3 147.72C224.68 148.75 225.03 149.79 225.35 150.84C225.66 151.9 225.94 152.96 226.19 154.03C226.75 156.32 227.25 158.62 227.67 160.94C228.1 163.26 228.45 165.59 228.73 167.93C229.01 170.27 229.22 172.61 229.36 174.97C229.49 177.32 229.56 179.67 229.55 182.03C229.55 203.84 225.86 219.81 218.48 229.92C211.1 240.03 198.39 245.09 180.35 245.1C170.23 245.1 162.05 243.49 155.82 240.26C154.26 239.44 152.75 238.53 151.31 237.51C149.87 236.5 148.5 235.39 147.21 234.19C145.91 232.99 144.7 231.71 143.58 230.35C142.45 229 141.42 227.56 140.49 226.07C137.59 221.64 135.33 215.59 133.72 207.9C133.3 205.81 132.94 203.71 132.63 201.61C132.32 199.5 132.06 197.39 131.86 195.27C131.66 193.15 131.51 191.02 131.41 188.9C131.32 186.77 131.28 184.64 131.3 182.51C131.3 159.65 135.41 143.65 143.64 134.51ZM164.44 182.59C164.44 197.92 165.79 208.38 168.49 213.96C171.19 219.54 175.11 222.34 180.26 222.37C181.07 222.38 181.89 222.31 182.69 222.16C183.49 222.01 184.27 221.77 185.03 221.47C185.78 221.16 186.51 220.78 187.19 220.34C187.87 219.89 188.5 219.37 189.08 218.8C191.57 216.42 193.41 212.66 194.58 207.52C195.75 202.38 196.34 194.38 196.34 183.52C196.34 167.56 194.99 156.83 192.28 151.33C189.57 145.83 185.51 143.08 180.1 143.09C174.58 143.09 170.58 145.89 168.1 151.5C165.62 157.11 164.4 167.47 164.44 182.59Z"></path>
                  <path class="primary-color" fill-rule="evenodd" d="M300.74 220.64L239.89 220.64L239.89 193.17L300.74 120.83L329.86 120.83L329.86 194.73L345 194.73L345 220.64L329.86 220.64L329.86 243.12L300.74 243.12L300.74 220.64ZM300.74 194.73L300.74 156.89L268.59 194.73L300.74 194.73Z"></path>
                </g>
                <g id="freepik--Planets--inject-2">
                  <g style="opacity: 0.302">
                    <path class="primary-color" d="M130 78.62C130 79.38 129.54 80.06 128.84 80.35C128.14 80.64 127.34 80.48 126.8 79.94C126.27 79.4 126.11 78.6 126.41 77.9C126.7 77.2 127.38 76.75 128.14 76.75C128.39 76.75 128.63 76.8 128.85 76.89C129.08 76.99 129.29 77.12 129.46 77.3C129.63 77.47 129.77 77.68 129.86 77.91C129.95 78.13 130 78.37 130 78.62Z"></path>
                    <path class="primary-color" d="M1.97 150.45C1.24 150.45 0.65 149.86 0.65 149.13C0.65 148.4 1.24 147.81 1.97 147.81C2.7 147.81 3.29 148.4 3.29 149.13C3.29 149.86 2.7 150.45 1.97 150.45Z"></path>
                    <path class="primary-color" d="M220.05 343.22C219 343.22 218.16 342.38 218.16 341.33C218.16 340.28 219 339.44 220.05 339.44C221.1 339.44 221.94 340.28 221.94 341.33C221.94 342.38 221.1 343.22 220.05 343.22Z"></path>
                    <path class="primary-color" d="M265.5 266.32C264.77 266.32 264.18 265.73 264.18 265C264.18 264.27 264.77 263.68 265.5 263.68C266.23 263.68 266.82 264.27 266.82 265C266.82 265.73 266.23 266.32 265.5 266.32Z"></path>
                    <path class="primary-color" d="M353.17 28.62C353.17 29.15 352.85 29.64 352.36 29.84C351.86 30.04 351.29 29.93 350.92 29.55C350.54 29.18 350.43 28.61 350.63 28.11C350.83 27.62 351.32 27.3 351.85 27.3C352.02 27.3 352.19 27.33 352.36 27.4C352.52 27.47 352.66 27.56 352.78 27.69C352.91 27.81 353 27.95 353.07 28.11C353.14 28.28 353.17 28.45 353.17 28.62L353.17 28.62Z"></path>
                    <path class="primary-color" d="M101.75 2C101.75 2.53 101.43 3.02 100.94 3.22C100.44 3.42 99.87 3.31 99.5 2.93C99.12 2.56 99.01 1.99 99.21 1.49C99.41 1 99.9 0.68 100.43 0.68C100.6 0.68 100.77 0.72 100.93 0.78C101.09 0.85 101.24 0.95 101.36 1.07C101.48 1.19 101.58 1.34 101.65 1.5C101.71 1.66 101.75 1.83 101.75 2Z"></path>
                    <path class="primary-color" d="M206.7 71.26C205.97 71.26 205.38 70.67 205.38 69.94C205.38 69.21 205.97 68.62 206.7 68.62C207.43 68.62 208.02 69.21 208.02 69.94C208.02 70.67 207.43 71.26 206.7 71.26Z"></path>
                  </g>
                  <path class="primary-color" d="M70.23 71.27C58.11 71.27 48.32 61.48 48.32 49.36C48.32 37.24 58.11 27.45 70.23 27.45C82.35 27.45 92.14 37.24 92.14 49.36C92.14 61.48 82.35 71.27 70.23 71.27Z"></path>
                  <path class="shp1" d="M70.23 71.27C58.11 71.27 48.32 61.48 48.32 49.36C48.32 37.24 58.11 27.45 70.23 27.45C82.35 27.45 92.14 37.24 92.14 49.36C92.14 61.48 82.35 71.27 70.23 71.27Z"></path>
                  <path class="shp2" d="M62.68 32.83C61.94 32.83 61.19 32.86 60.45 32.94C59.71 33.01 58.98 33.12 58.25 33.27C57.52 33.42 56.8 33.6 56.09 33.83C55.38 34.05 54.68 34.31 54 34.6C50.63 38.3 48.63 43.05 48.33 48.05C48.03 53.05 49.46 58 52.36 62.08C55.27 66.15 59.49 69.11 64.31 70.46C69.13 71.81 74.27 71.47 78.87 69.49L78.87 69.49C81.72 66.35 83.6 62.44 84.28 58.25C84.95 54.06 84.4 49.77 82.68 45.88C80.96 42 78.15 38.7 74.6 36.39C71.04 34.07 66.88 32.84 62.64 32.84L62.68 32.83Z"></path>
                  <path class="shp2" d="M60.5 38.62C60.5 39.43 60.01 40.16 59.27 40.47C58.52 40.78 57.66 40.61 57.09 40.03C56.51 39.46 56.34 38.6 56.65 37.85C56.96 37.11 57.69 36.62 58.5 36.62C58.76 36.62 59.02 36.67 59.27 36.77C59.51 36.87 59.73 37.02 59.91 37.21C60.1 37.39 60.25 37.61 60.35 37.85C60.45 38.1 60.5 38.36 60.5 38.62Z"></path>
                  <path class="shp2" d="M84.06 36.62C84.06 37.43 83.57 38.16 82.83 38.47C82.08 38.78 81.22 38.61 80.65 38.03C80.07 37.46 79.9 36.6 80.21 35.85C80.52 35.11 81.25 34.62 82.06 34.62C82.32 34.62 82.58 34.67 82.83 34.77C83.07 34.87 83.29 35.02 83.47 35.21C83.66 35.39 83.81 35.61 83.91 35.85C84.01 36.1 84.06 36.36 84.06 36.62Z"></path>
                  <path class="shp2" d="M80.06 50.9C80.06 52.23 79.26 53.42 78.04 53.93C76.81 54.44 75.4 54.16 74.46 53.22C73.52 52.28 73.24 50.87 73.75 49.64C74.26 48.42 75.45 47.62 76.78 47.62C77.21 47.62 77.64 47.7 78.04 47.87C78.43 48.03 78.79 48.28 79.1 48.58C79.4 48.89 79.65 49.25 79.81 49.64C79.98 50.04 80.06 50.47 80.06 50.9L80.06 50.9Z"></path>
                  <path class="shp2" d="M69.64 60.25C69.64 62.02 68.57 63.62 66.94 64.3C65.3 64.97 63.42 64.6 62.16 63.35C60.91 62.09 60.54 60.21 61.21 58.57C61.89 56.94 63.49 55.87 65.26 55.87C65.84 55.87 66.4 55.98 66.94 56.2C67.47 56.42 67.95 56.75 68.36 57.15C68.76 57.56 69.09 58.04 69.31 58.57C69.53 59.11 69.64 59.67 69.64 60.25Z"></path>
                  <path class="primary-color" d="M329.9 313.65C327.46 324 317.12 330.39 306.77 327.94C296.42 325.5 290.03 315.16 292.47 304.81C294.91 294.46 305.25 288.07 315.6 290.51C325.95 292.96 332.34 303.3 329.9 313.65Z"></path>
                  <path class="shp3" d="M329.9 313.65C327.46 324 317.12 330.39 306.77 327.94C296.42 325.5 290.03 315.16 292.47 304.81C294.91 294.46 305.25 288.07 315.6 290.51C325.95 292.96 332.34 303.3 329.9 313.65Z"></path>
                  <path class="primary-color opacity-o4" d="M323.33 294.34C319.07 293.05 314.49 293.29 310.38 295C306.27 296.71 302.88 299.8 300.8 303.74C298.71 307.67 298.05 312.21 298.94 316.57C299.83 320.93 302.2 324.85 305.66 327.66C306.11 327.8 306.56 327.92 307.02 328.02C307.47 328.12 307.93 328.21 308.39 328.27C308.86 328.34 309.32 328.39 309.79 328.43C310.25 328.46 310.72 328.48 311.19 328.48C315.16 328.48 319.03 327.25 322.28 324.96C325.52 322.67 327.97 319.43 329.3 315.69C330.63 311.95 330.77 307.89 329.7 304.07C328.63 300.25 326.41 296.85 323.33 294.34L323.33 294.34Z"></path>
                  <path class="primary-color" d="M292.83 315C272.3 324.66 287.61 332.11 316.54 321.71C343.33 312.08 353.54 299.94 329.54 303.71C330.83 308.76 297.28 321.83 292.83 315Z"></path>
                </g>
                <g class="jacket-man">
                  <path class="shp5" d="M323.1 120.83C296.21 139 261.4 163 251.79 220.64L249.74 220.64C259.09 163.64 292.63 139.07 319.53 120.83L323.1 120.83Z"></path>
                  <path class="primary-color" d="M184 301.27C167 301.27 150.19 293.6 142 281.08C136.95 273.34 131.08 257.13 148.56 235.5L150.11 236.76C137.75 252.06 135.47 267.41 143.68 279.99C153.68 295.29 177.27 302.99 197.41 297.51C218.04 291.9 230.56 273.96 231.77 248.29C235.9 160.48 282.55 133.43 316.61 113.68C337.78 101.41 353.07 92.55 349.71 73.84C349.24 71.25 348.21 69.46 346.54 68.36C342.19 65.49 333.69 67.48 323.85 69.77C304.54 74.27 278.1 80.43 262.35 53.64L264.08 52.64C279.08 78.17 303.65 72.44 323.4 67.84C333.69 65.45 342.57 63.38 347.64 66.71C349.79 68.12 351.11 70.35 351.64 73.51C355.25 93.59 338.64 103.23 317.59 115.43C283.92 134.95 237.82 161.68 233.74 248.43C232.48 275.03 219.42 293.64 197.9 299.49C196.77 299.79 195.63 300.06 194.48 300.28C193.33 300.51 192.17 300.69 191.01 300.84C189.85 300.99 188.68 301.1 187.51 301.17C186.34 301.24 185.17 301.28 184 301.27L184 301.27Z"></path>
                  <path class="shp6" d="M184 301.27C167 301.27 150.19 293.6 142 281.08C136.95 273.34 131.08 257.13 148.56 235.5L150.11 236.76C137.75 252.06 135.47 267.41 143.68 279.99C153.68 295.29 177.27 302.99 197.41 297.51C218.04 291.9 230.56 273.96 231.77 248.29C235.9 160.48 282.55 133.43 316.61 113.68C337.78 101.41 353.07 92.55 349.71 73.84C349.24 71.25 348.21 69.46 346.54 68.36C342.19 65.49 333.69 67.48 323.85 69.77C304.54 74.27 278.1 80.43 262.35 53.64L264.08 52.64C279.08 78.17 303.65 72.44 323.4 67.84C333.69 65.45 342.57 63.38 347.64 66.71C349.79 68.12 351.11 70.35 351.64 73.51C355.25 93.59 338.64 103.23 317.59 115.43C283.92 134.95 237.82 161.68 233.74 248.43C232.48 275.03 219.42 293.64 197.9 299.49C196.77 299.79 195.63 300.06 194.48 300.28C193.33 300.51 192.17 300.69 191.01 300.84C189.85 300.99 188.68 301.1 187.51 301.17C186.34 301.24 185.17 301.28 184 301.27L184 301.27Z"></path>
                  <path class="primary-color" d="M241.76 30C242.91 30.01 244.06 30.06 245.21 30.15C246.35 30.24 247.49 30.38 248.63 30.56C249.77 30.73 250.89 30.95 252.01 31.22C253.13 31.48 254.24 31.78 255.34 32.13C256.44 32.48 266.34 50.9 267.64 55.2C267.18 59.44 260.03 66.39 260.03 66.39L241.76 30Z"></path>
                  <path class="shp3" d="M241.76 30C242.91 30.01 244.06 30.06 245.21 30.15C246.35 30.24 247.49 30.38 248.63 30.56C249.77 30.73 250.89 30.95 252.01 31.22C253.13 31.48 254.24 31.78 255.34 32.13C256.44 32.48 266.34 50.9 267.64 55.2C267.18 59.44 260.03 66.39 260.03 66.39L241.76 30Z"></path>
                  <path class="primary-color" d="M274.34 121.13C273.28 119.84 272.25 118.52 271.23 117.19C270.22 115.86 269.23 114.51 268.27 113.15C267.31 111.78 266.37 110.4 265.45 109C264.54 107.6 263.64 106.18 262.78 104.75C261.94 103.3 261.14 101.83 260.39 100.33C259.96 99.48 259.55 98.63 259.15 97.77C259.02 97.56 258.9 97.35 258.78 97.13C258.66 96.91 258.55 96.69 258.45 96.47C258.35 96.24 258.26 96.01 258.17 95.78C258.09 95.55 258.01 95.32 257.94 95.08C256.74 82.41 261.08 73.08 256.94 62.91L240.46 69.35C240.46 69.35 241.86 87.47 245.06 98.35C247.06 105.08 251.54 110.9 255.87 116.29C257.22 117.97 258.52 119.7 259.87 121.39C261.22 123.08 262.58 124.45 263.87 126.04C265.82 128.45 266.46 130.76 264.99 133.6L264.74 134.05C264.32 134.79 266.28 135.63 267.52 134.05C269.52 131.47 269.24 131.63 270.98 129.43C272.04 128.1 273.25 126.65 274.3 125.43C274.55 125.13 274.75 124.79 274.88 124.43C275.02 124.06 275.09 123.68 275.09 123.29C275.1 122.9 275.03 122.51 274.91 122.14C274.78 121.77 274.59 121.43 274.34 121.13L274.34 121.13Z"></path>
                  <path class="shp1" d="M274.34 121.13C273.28 119.84 272.25 118.52 271.23 117.19C270.22 115.86 269.23 114.51 268.27 113.15C267.31 111.78 266.37 110.4 265.45 109C264.54 107.6 263.64 106.18 262.78 104.75C261.94 103.3 261.14 101.83 260.39 100.33C259.96 99.48 259.55 98.63 259.15 97.77C259.02 97.56 258.9 97.35 258.78 97.13C258.66 96.91 258.55 96.69 258.45 96.47C258.35 96.24 258.26 96.01 258.17 95.78C258.09 95.55 258.01 95.32 257.94 95.08C256.74 82.41 261.08 73.08 256.94 62.91L240.46 69.35C240.46 69.35 241.86 87.47 245.06 98.35C247.06 105.08 251.54 110.9 255.87 116.29C257.22 117.97 258.52 119.7 259.87 121.39C261.22 123.08 262.58 124.45 263.87 126.04C265.82 128.45 266.46 130.76 264.99 133.6L264.74 134.05C264.32 134.79 266.28 135.63 267.52 134.05C269.52 131.47 269.24 131.63 270.98 129.43C272.04 128.1 273.25 126.65 274.3 125.43C274.55 125.13 274.75 124.79 274.88 124.43C275.02 124.06 275.09 123.68 275.09 123.29C275.1 122.9 275.03 122.51 274.91 122.14C274.78 121.77 274.59 121.43 274.34 121.13L274.34 121.13Z"></path>
                  <path class="shp7" d="M270.31 115.92C269.66 116.62 268.99 117.3 268.3 117.97C267.61 118.63 266.9 119.28 266.18 119.91C265.45 120.54 264.72 121.14 263.96 121.73C263.21 122.32 262.43 122.89 261.65 123.44C262.08 123.92 262.5 124.44 262.93 124.9C263.72 124.37 264.48 123.81 265.23 123.23C265.98 122.65 266.71 122.05 267.42 121.42C268.13 120.79 268.82 120.14 269.49 119.47C270.16 118.8 270.81 118.1 271.43 117.39L270.31 115.92Z"></path>
                  <path class="shp7" d="M274.34 121.13L274.22 120.99C274.03 121.21 273.86 121.44 273.71 121.69C273.55 121.94 273.42 122.2 273.32 122.47C273.21 122.74 273.12 123.01 273.06 123.3C273 123.58 272.96 123.87 272.95 124.16C272.93 124.36 272.93 124.56 272.94 124.76C272.95 124.96 272.97 125.16 273 125.36C273.03 125.56 273.07 125.75 273.13 125.94C273.18 126.14 273.25 126.33 273.33 126.51L274.28 125.38C274.53 125.09 274.72 124.75 274.85 124.39C274.99 124.03 275.06 123.65 275.06 123.27C275.07 122.88 275.01 122.5 274.89 122.14C274.76 121.77 274.58 121.43 274.34 121.13Z"></path>
                  <path class="primary-color" d="M237.84 42C237.39 42.67 236.93 43.32 236.43 43.96C235.94 44.59 235.43 45.21 234.9 45.81C234.37 46.41 233.81 47 233.24 47.56C232.67 48.12 232.08 48.67 231.47 49.19C231.13 49.48 230.79 49.76 230.43 50.03C230.08 50.31 229.72 50.57 229.35 50.82C228.98 51.07 228.6 51.31 228.22 51.54C227.83 51.77 227.45 51.98 227.05 52.19C226.84 52.3 226.63 52.4 226.42 52.5C226.21 52.6 226 52.69 225.78 52.78C225.56 52.87 225.35 52.96 225.13 53.04C224.91 53.13 224.69 53.21 224.47 53.28L223.79 53.5L223.57 53.56L223.1 53.69C223.03 53.71 222.96 53.72 222.88 53.74C222.81 53.75 222.74 53.76 222.66 53.78C222.59 53.79 222.52 53.8 222.44 53.81C222.37 53.82 222.29 53.82 222.22 53.83C222.01 53.85 221.8 53.85 221.59 53.85C221.38 53.85 221.17 53.84 220.96 53.82C220.75 53.8 220.54 53.77 220.33 53.74C220.12 53.7 219.91 53.65 219.71 53.6C219.45 53.53 219.2 53.45 218.95 53.36C218.69 53.27 218.44 53.17 218.2 53.06C217.95 52.96 217.71 52.84 217.47 52.72C217.23 52.6 217 52.47 216.77 52.33C216.58 52.22 216.4 52.11 216.22 52C216.04 51.89 215.86 51.77 215.68 51.65C215.5 51.54 215.32 51.42 215.14 51.29C214.97 51.17 214.79 51.05 214.62 50.92C214.31 50.69 214 50.45 213.69 50.21C213.39 49.97 213.09 49.72 212.79 49.47C212.49 49.22 212.19 48.97 211.9 48.71C211.61 48.45 211.32 48.19 211.04 47.92C210.49 47.4 209.96 46.87 209.43 46.33C208.91 45.79 208.4 45.24 207.9 44.68C207.4 44.12 206.91 43.54 206.43 42.96C205.95 42.38 205.49 41.78 205.04 41.18C204.69 40.71 204.52 40.13 204.55 39.55C204.58 38.97 204.82 38.41 205.22 37.98C205.61 37.55 206.15 37.28 206.73 37.2C207.31 37.12 207.89 37.25 208.39 37.56L208.47 37.56C210.83 39.06 213.21 40.64 215.53 42.05C216.71 42.74 217.85 43.44 218.98 43.98C219.11 44.05 219.24 44.11 219.37 44.18C219.5 44.24 219.63 44.3 219.76 44.36C219.9 44.42 220.03 44.48 220.16 44.54C220.3 44.59 220.43 44.65 220.57 44.7C220.65 44.74 220.74 44.77 220.83 44.8C220.92 44.83 221 44.86 221.09 44.88C221.18 44.9 221.27 44.92 221.36 44.93C221.46 44.94 221.55 44.95 221.64 44.96C221.7 44.96 221.64 44.89 221.27 44.9C221.24 44.9 221.21 44.9 221.18 44.9C221.15 44.9 221.12 44.89 221.09 44.89C221.07 44.89 221.04 44.9 221.01 44.9C220.98 44.9 220.95 44.9 220.92 44.9L220.7 44.95L220.7 44.95L221.03 44.78C221.14 44.72 221.25 44.66 221.36 44.6C221.47 44.53 221.58 44.47 221.69 44.4C221.79 44.34 221.9 44.27 222.01 44.2C222.11 44.13 222.22 44.06 222.32 43.99C222.54 43.83 222.76 43.67 222.98 43.5C223.2 43.33 223.41 43.16 223.62 42.99C223.83 42.81 224.03 42.63 224.23 42.44C224.43 42.26 224.63 42.06 224.82 41.87C225.26 41.41 225.69 40.95 226.11 40.48C226.53 40.01 226.95 39.53 227.36 39.05C227.76 38.57 228.17 38.08 228.56 37.58C228.95 37.09 229.34 36.59 229.72 36.08L229.72 36.08C230.55 35.15 231.7 34.56 232.94 34.44C234.18 34.31 235.42 34.65 236.43 35.4C237.43 36.14 238.12 37.23 238.35 38.45C238.59 39.68 238.37 40.94 237.72 42.01L237.84 42Z"></path>
                  <path class="shp1" d="M237.84 42C237.39 42.67 236.93 43.32 236.43 43.96C235.94 44.59 235.43 45.21 234.9 45.81C234.37 46.41 233.81 47 233.24 47.56C232.67 48.12 232.08 48.67 231.47 49.19C231.13 49.48 230.79 49.76 230.43 50.03C230.08 50.31 229.72 50.57 229.35 50.82C228.98 51.07 228.6 51.31 228.22 51.54C227.83 51.77 227.45 51.98 227.05 52.19C226.84 52.3 226.63 52.4 226.42 52.5C226.21 52.6 226 52.69 225.78 52.78C225.56 52.87 225.35 52.96 225.13 53.04C224.91 53.13 224.69 53.21 224.47 53.28L223.79 53.5L223.57 53.56L223.1 53.69C223.03 53.71 222.96 53.72 222.88 53.74C222.81 53.75 222.74 53.76 222.66 53.78C222.59 53.79 222.52 53.8 222.44 53.81C222.37 53.82 222.29 53.82 222.22 53.83C222.01 53.85 221.8 53.85 221.59 53.85C221.38 53.85 221.17 53.84 220.96 53.82C220.75 53.8 220.54 53.77 220.33 53.74C220.12 53.7 219.91 53.65 219.71 53.6C219.45 53.53 219.2 53.45 218.95 53.36C218.69 53.27 218.44 53.17 218.2 53.06C217.95 52.96 217.71 52.84 217.47 52.72C217.23 52.6 217 52.47 216.77 52.33C216.58 52.22 216.4 52.11 216.22 52C216.04 51.89 215.86 51.77 215.68 51.65C215.5 51.54 215.32 51.42 215.14 51.29C214.97 51.17 214.79 51.05 214.62 50.92C214.31 50.69 214 50.45 213.69 50.21C213.39 49.97 213.09 49.72 212.79 49.47C212.49 49.22 212.19 48.97 211.9 48.71C211.61 48.45 211.32 48.19 211.04 47.92C210.49 47.4 209.96 46.87 209.43 46.33C208.91 45.79 208.4 45.24 207.9 44.68C207.4 44.12 206.91 43.54 206.43 42.96C205.95 42.38 205.49 41.78 205.04 41.18C204.69 40.71 204.52 40.13 204.55 39.55C204.58 38.97 204.82 38.41 205.22 37.98C205.61 37.55 206.15 37.28 206.73 37.2C207.31 37.12 207.89 37.25 208.39 37.56L208.47 37.56C210.83 39.06 213.21 40.64 215.53 42.05C216.71 42.74 217.85 43.44 218.98 43.98C219.11 44.05 219.24 44.11 219.37 44.18C219.5 44.24 219.63 44.3 219.76 44.36C219.9 44.42 220.03 44.48 220.16 44.54C220.3 44.59 220.43 44.65 220.57 44.7C220.65 44.74 220.74 44.77 220.83 44.8C220.92 44.83 221 44.86 221.09 44.88C221.18 44.9 221.27 44.92 221.36 44.93C221.46 44.94 221.55 44.95 221.64 44.96C221.7 44.96 221.64 44.89 221.27 44.9C221.24 44.9 221.21 44.9 221.18 44.9C221.15 44.9 221.12 44.89 221.09 44.89C221.07 44.89 221.04 44.9 221.01 44.9C220.98 44.9 220.95 44.9 220.92 44.9L220.7 44.95L220.7 44.95L221.03 44.78C221.14 44.72 221.25 44.66 221.36 44.6C221.47 44.53 221.58 44.47 221.69 44.4C221.79 44.34 221.9 44.27 222.01 44.2C222.11 44.13 222.22 44.06 222.32 43.99C222.54 43.83 222.76 43.67 222.98 43.5C223.2 43.33 223.41 43.16 223.62 42.99C223.83 42.81 224.03 42.63 224.23 42.44C224.43 42.26 224.63 42.06 224.82 41.87C225.26 41.41 225.69 40.95 226.11 40.48C226.53 40.01 226.95 39.53 227.36 39.05C227.76 38.57 228.17 38.08 228.56 37.58C228.95 37.09 229.34 36.59 229.72 36.08L229.72 36.08C230.55 35.15 231.7 34.56 232.94 34.44C234.18 34.31 235.42 34.65 236.43 35.4C237.43 36.14 238.12 37.23 238.35 38.45C238.59 39.68 238.37 40.94 237.72 42.01L237.84 42Z"></path>
                  <path class="primary-color" d="M201.29 35.42L202.46 37.42C202.46 37.42 203.35 40.04 205.14 40.52L210 38.95L209.75 38.54L209.75 38.54C209.13 37.6 209.2 35.77 209.41 34.25C209.62 32.73 208.84 32.68 208.26 33.06C208.16 33.18 208.06 33.3 207.98 33.43C207.89 33.56 207.81 33.69 207.74 33.83C207.67 33.97 207.61 34.12 207.55 34.26C207.5 34.41 207.45 34.56 207.42 34.71C207.36 34.63 207.3 34.55 207.24 34.47C207.17 34.39 207.11 34.31 207.04 34.23C206.98 34.15 206.91 34.08 206.84 34C206.77 33.93 206.7 33.85 206.63 33.78L205.15 32.3C205 32.15 204.82 32.03 204.62 31.95C204.42 31.86 204.21 31.82 203.99 31.81C203.78 31.81 203.56 31.84 203.36 31.91C203.16 31.99 202.97 32.1 202.81 32.24L201.61 33.31C201.47 33.44 201.35 33.59 201.26 33.76C201.17 33.93 201.11 34.12 201.08 34.31C201.05 34.5 201.06 34.69 201.09 34.88C201.13 35.07 201.19 35.25 201.29 35.42Z"></path>
                  <path class="shp1" d="M201.29 35.42L202.46 37.42C202.46 37.42 203.35 40.04 205.14 40.52L210 38.95L209.75 38.54L209.75 38.54C209.13 37.6 209.2 35.77 209.41 34.25C209.62 32.73 208.84 32.68 208.26 33.06C208.16 33.18 208.06 33.3 207.98 33.43C207.89 33.56 207.81 33.69 207.74 33.83C207.67 33.97 207.61 34.12 207.55 34.26C207.5 34.41 207.45 34.56 207.42 34.71C207.36 34.63 207.3 34.55 207.24 34.47C207.17 34.39 207.11 34.31 207.04 34.23C206.98 34.15 206.91 34.08 206.84 34C206.77 33.93 206.7 33.85 206.63 33.78L205.15 32.3C205 32.15 204.82 32.03 204.62 31.95C204.42 31.86 204.21 31.82 203.99 31.81C203.78 31.81 203.56 31.84 203.36 31.91C203.16 31.99 202.97 32.1 202.81 32.24L201.61 33.31C201.47 33.44 201.35 33.59 201.26 33.76C201.17 33.93 201.11 34.12 201.08 34.31C201.05 34.5 201.06 34.69 201.09 34.88C201.13 35.07 201.19 35.25 201.29 35.42Z"></path>
                  <path class="primary-color" d="M246.67 28.22C245.32 28.58 243.99 28.98 242.67 29.43C241.36 29.88 240.06 30.38 238.77 30.92C237.49 31.46 236.23 32.04 234.99 32.67C233.74 33.3 232.52 33.98 231.33 34.69C230.96 34.92 230.63 35.21 230.34 35.54C230.06 35.87 229.82 36.25 229.65 36.65C229.48 37.05 229.37 37.48 229.32 37.92C229.28 38.35 229.3 38.79 229.39 39.22C231.32 48.66 235.71 61.3 240.45 69.35L262.56 60.2C262.71 56.3 257.34 43.68 251.87 31.48C250.89 29.29 249 27.66 246.67 28.22Z"></path>
                  <path class="shp8" d="M246.67 28.22C245.32 28.58 243.99 28.98 242.67 29.43C241.36 29.88 240.06 30.38 238.77 30.92C237.49 31.46 236.23 32.04 234.99 32.67C233.74 33.3 232.52 33.98 231.33 34.69C230.96 34.92 230.63 35.21 230.34 35.54C230.06 35.87 229.82 36.25 229.65 36.65C229.48 37.05 229.37 37.48 229.32 37.92C229.28 38.35 229.3 38.79 229.39 39.22C231.32 48.66 235.71 61.3 240.45 69.35L262.56 60.2C262.71 56.3 257.34 43.68 251.87 31.48C250.89 29.29 249 27.66 246.67 28.22Z"></path>
                  <path class="shp7" d="M255.3 39.21L250.91 37.74C251.91 40.31 255.44 43.56 257.91 45.47C257.11 43.47 256.22 41.37 255.3 39.21Z"></path>
                  <path class="primary-color" d="M245.22 18.32C243.39 14.84 239.44 13.09 234.7 13.48C230.7 13.82 227.16 17.9 227.58 20.1C228 22.3 231.36 23.24 232 24L229.23 26C228.9 26.24 228.63 26.54 228.42 26.88C228.21 27.23 228.07 27.62 228.01 28.02C227.96 28.42 227.98 28.83 228.09 29.22C228.2 29.61 228.38 29.97 228.63 30.29C229.8 31.77 231.34 33.29 232.23 34.41C239.89 34.21 245.56 31.29 247.61 28.48C246.84 24.92 247 21.78 245.22 18.32Z"></path>
                  <path class="shp8" d="M245.22 18.32C243.39 14.84 239.44 13.09 234.7 13.48C230.7 13.82 227.16 17.9 227.58 20.1C228 22.3 231.36 23.24 232 24L229.23 26C228.9 26.24 228.63 26.54 228.42 26.88C228.21 27.23 228.07 27.62 228.01 28.02C227.96 28.42 227.98 28.83 228.09 29.22C228.2 29.61 228.38 29.97 228.63 30.29C229.8 31.77 231.34 33.29 232.23 34.41C239.89 34.21 245.56 31.29 247.61 28.48C246.84 24.92 247 21.78 245.22 18.32Z"></path>
                  <path class="shp9" d="M241.46 20.48C242.57 23.33 241.86 26.57 239.65 28.69C237.44 30.81 234.17 31.39 231.37 30.16C228.56 28.93 226.78 26.14 226.84 23.08C226.9 20.02 228.8 17.29 231.65 16.18C232.58 15.82 233.57 15.64 234.56 15.66C235.55 15.69 236.53 15.9 237.44 16.3C238.36 16.7 239.18 17.27 239.87 17.99C240.56 18.71 241.1 19.55 241.46 20.48L241.46 20.48Z"></path>
                  <path class="primary-color" d="M306.39 110.6C306.28 107.31 306.13 107.6 306.04 104.83C305.98 103.13 305.97 101.24 305.96 99.61C305.96 99.23 305.89 98.84 305.76 98.48C305.63 98.12 305.44 97.79 305.19 97.49C304.95 97.19 304.66 96.94 304.33 96.74C304 96.54 303.64 96.41 303.26 96.33C301.94 96.06 300.61 95.81 299.26 95.53C297.53 95.16 295.82 94.76 294.13 94.27C292.81 93.89 291.51 93.47 290.22 93C288.93 92.53 287.48 92 286.14 91.38C284.56 90.71 283 89.99 281.46 89.24C279.73 88.42 278.02 87.56 276.31 86.69C269.73 75.8 269.59 68.62 262.53 60.2L247.37 67.06C247.37 67.06 258.51 86.82 266.09 95.2C270.46 100.02 277.31 102.2 283.42 103.78C287.83 104.91 292.3 105.78 296.77 106.61C298.51 106.93 300.4 107.05 301.9 108.09C302.17 108.3 302.43 108.54 302.66 108.79C302.89 109.05 303.1 109.33 303.29 109.62C303.47 109.91 303.62 110.22 303.75 110.55C303.88 110.87 303.97 111.2 304.04 111.54C304.11 111.82 304.17 112.1 304.22 112.38C304.41 113.22 306.46 112.58 306.39 110.6Z"></path>
                  <path class="shp8" d="M306.39 110.6C306.28 107.31 306.13 107.6 306.04 104.83C305.98 103.13 305.97 101.24 305.96 99.61C305.96 99.23 305.89 98.84 305.76 98.48C305.63 98.12 305.44 97.79 305.19 97.49C304.95 97.19 304.66 96.94 304.33 96.74C304 96.54 303.64 96.41 303.26 96.33C301.94 96.06 300.61 95.81 299.26 95.53C297.53 95.16 295.82 94.76 294.13 94.27C292.81 93.89 291.51 93.47 290.22 93C288.93 92.53 287.48 92 286.14 91.38C284.56 90.71 283 89.99 281.46 89.24C279.73 88.42 278.02 87.56 276.31 86.69C269.73 75.8 269.59 68.62 262.53 60.2L247.37 67.06C247.37 67.06 258.51 86.82 266.09 95.2C270.46 100.02 277.31 102.2 283.42 103.78C287.83 104.91 292.3 105.78 296.77 106.61C298.51 106.93 300.4 107.05 301.9 108.09C302.17 108.3 302.43 108.54 302.66 108.79C302.89 109.05 303.1 109.33 303.29 109.62C303.47 109.91 303.62 110.22 303.75 110.55C303.88 110.87 303.97 111.2 304.04 111.54C304.11 111.82 304.17 112.1 304.22 112.38C304.41 113.22 306.46 112.58 306.39 110.6Z"></path>
                  <path class="shp7" d="M298.7 95.4C298.1 95.27 297.5 95.14 296.89 94.99C296.94 98.45 295.32 104.41 294.73 106.22L296.63 106.58C296.94 105.68 297.22 104.77 297.46 103.85C297.7 102.93 297.91 102 298.08 101.07C298.26 100.13 298.4 99.19 298.5 98.25C298.6 97.3 298.67 96.35 298.7 95.4L298.7 95.4Z"></path>
                  <path class="shp7" d="M306 99.61C306 99.23 305.93 98.85 305.8 98.49C305.67 98.12 305.48 97.79 305.24 97.49C304.99 97.2 304.7 96.94 304.37 96.74C304.05 96.55 303.69 96.41 303.31 96.33L302.31 96.14C302.35 96.42 302.42 96.7 302.51 96.97C302.6 97.24 302.71 97.5 302.85 97.74C302.99 97.99 303.15 98.22 303.34 98.44C303.52 98.66 303.72 98.86 303.94 99.04C304.08 99.17 304.23 99.29 304.39 99.41C304.54 99.52 304.71 99.63 304.87 99.72C305.04 99.82 305.22 99.91 305.39 99.98C305.57 100.06 305.75 100.12 305.94 100.18C306 100 306 99.8 306 99.61Z"></path>
                  <path class="shp10" d="M240.05 20.54C240.45 22.06 238.75 23.65 237.4 22.34C237.09 22 236.76 21.67 236.43 21.35C236.1 21.03 235.77 20.71 235.42 20.4C235.08 20.09 234.73 19.79 234.37 19.5C234.01 19.21 233.65 18.93 233.28 18.65C231.89 17.78 233.74 16.26 235.93 16.85C236.4 16.97 236.85 17.14 237.27 17.37C237.69 17.59 238.09 17.87 238.45 18.19C238.8 18.51 239.12 18.87 239.39 19.27C239.66 19.66 239.88 20.09 240.05 20.54Z"></path>
                  <path class="primary-color" d="M240.16 68.86C239.46 69.12 240.74 70.32 240.74 70.32C240.74 70.32 254.74 65.53 263.24 60.6C263.25 60.45 263.24 60.3 263.22 60.15C263.19 60.01 263.15 59.86 263.09 59.73C263.03 59.59 262.96 59.46 262.87 59.34C262.78 59.22 262.68 59.11 262.56 59.02C260.74 59.94 258.91 60.84 257.07 61.72C255.22 62.59 253.37 63.44 251.5 64.26C249.63 65.08 247.75 65.87 245.86 66.64C243.97 67.41 242.07 68.15 240.16 68.86L240.16 68.86Z"></path>
                  <path class="shp11" d="M240.16 68.86C239.46 69.12 240.74 70.32 240.74 70.32C240.74 70.32 254.74 65.53 263.24 60.6C263.25 60.45 263.24 60.3 263.22 60.15C263.19 60.01 263.15 59.86 263.09 59.73C263.03 59.59 262.96 59.46 262.87 59.34C262.78 59.22 262.68 59.11 262.56 59.02C260.74 59.94 258.91 60.84 257.07 61.72C255.22 62.59 253.37 63.44 251.5 64.26C249.63 65.08 247.75 65.87 245.86 66.64C243.97 67.41 242.07 68.15 240.16 68.86L240.16 68.86Z"></path>
                  <path class="primary-color" d="M250.46 27.56C253.22 28.96 255.81 30.43 258.46 32.06C259.75 32.88 261.03 33.71 262.3 34.61C263.57 35.51 264.83 36.43 266.1 37.47L266.57 37.86L267.16 38.4C267.25 38.48 267.33 38.56 267.42 38.64C267.51 38.72 267.59 38.8 267.67 38.89C267.76 38.97 267.84 39.05 267.92 39.14C268 39.23 268.08 39.31 268.16 39.4C268.48 39.75 268.75 40.09 269.01 40.4C269.27 40.71 269.55 41.08 269.78 41.4C270.01 41.72 270.24 42.05 270.47 42.37C270.69 42.7 270.91 43.03 271.12 43.36C271.34 43.7 271.55 44.03 271.76 44.37C271.96 44.71 272.16 45.06 272.36 45.4C272.75 46.07 273.12 46.74 273.48 47.43C273.84 48.11 274.19 48.8 274.52 49.5C274.86 50.19 275.18 50.9 275.48 51.61C275.79 52.31 276.08 53.03 276.36 53.75C276.57 54.29 276.58 54.89 276.39 55.45C276.2 56 275.83 56.47 275.34 56.78C274.84 57.09 274.26 57.21 273.68 57.14C273.1 57.07 272.57 56.79 272.17 56.37L272.12 56.31C270.12 54.18 268.19 51.94 266.25 49.85C264.31 47.76 262.34 45.64 260.71 44.71C258.44 43.3 255.91 41.89 253.4 40.51L245.84 36.31L245.84 36.31C244.67 35.69 243.79 34.63 243.4 33.36C243.01 32.09 243.14 30.72 243.76 29.55C244.38 28.38 245.44 27.5 246.71 27.11C247.98 26.72 249.35 26.85 250.52 27.47L250.46 27.56Z"></path>
                  <path class="shp8" d="M250.46 27.56C253.22 28.96 255.81 30.43 258.46 32.06C259.75 32.88 261.03 33.71 262.3 34.61C263.57 35.51 264.83 36.43 266.1 37.47L266.57 37.86L267.16 38.4C267.25 38.48 267.33 38.56 267.42 38.64C267.51 38.72 267.59 38.8 267.67 38.89C267.76 38.97 267.84 39.05 267.92 39.14C268 39.23 268.08 39.31 268.16 39.4C268.48 39.75 268.75 40.09 269.01 40.4C269.27 40.71 269.55 41.08 269.78 41.4C270.01 41.72 270.24 42.05 270.47 42.37C270.69 42.7 270.91 43.03 271.12 43.36C271.34 43.7 271.55 44.03 271.76 44.37C271.96 44.71 272.16 45.06 272.36 45.4C272.75 46.07 273.12 46.74 273.48 47.43C273.84 48.11 274.19 48.8 274.52 49.5C274.86 50.19 275.18 50.9 275.48 51.61C275.79 52.31 276.08 53.03 276.36 53.75C276.57 54.29 276.58 54.89 276.39 55.45C276.2 56 275.83 56.47 275.34 56.78C274.84 57.09 274.26 57.21 273.68 57.14C273.1 57.07 272.57 56.79 272.17 56.37L272.12 56.31C270.12 54.18 268.19 51.94 266.25 49.85C264.31 47.76 262.34 45.64 260.71 44.71C258.44 43.3 255.91 41.89 253.4 40.51L245.84 36.31L245.84 36.31C244.67 35.69 243.79 34.63 243.4 33.36C243.01 32.09 243.14 30.72 243.76 29.55C244.38 28.38 245.44 27.5 246.71 27.11C247.98 26.72 249.35 26.85 250.52 27.47L250.46 27.56Z"></path>
                  <path class="primary-color" d="M278.73 58.74L277.88 56.61C277.88 56.61 277.41 53.89 275.72 53.13L270.72 53.92L270.89 54.36L270.89 54.36C271.35 55.36 271 57.19 270.55 58.65C270.1 60.11 270.86 60.3 271.5 60.01C271.86 59.85 272.21 59.2 272.59 58.51C272.64 58.6 272.68 58.68 272.73 58.77C272.78 58.85 272.83 58.94 272.89 59.02C272.94 59.1 272.99 59.19 273.05 59.27C273.1 59.35 273.16 59.43 273.22 59.51L274.45 61.2C274.58 61.37 274.74 61.52 274.92 61.64C275.1 61.75 275.3 61.83 275.51 61.87C275.72 61.91 275.94 61.91 276.15 61.87C276.37 61.83 276.57 61.75 276.75 61.64L278.11 60.77C278.27 60.66 278.41 60.53 278.52 60.37C278.63 60.22 278.72 60.05 278.78 59.86C278.83 59.68 278.86 59.49 278.85 59.3C278.84 59.11 278.8 58.92 278.73 58.74L278.73 58.74Z"></path>
                  <path class="shp8" d="M278.73 58.74L277.88 56.61C277.88 56.61 277.41 53.89 275.72 53.13L270.72 53.92L270.89 54.36L270.89 54.36C271.35 55.36 271 57.19 270.55 58.65C270.1 60.11 270.86 60.3 271.5 60.01C271.86 59.85 272.21 59.2 272.59 58.51C272.64 58.6 272.68 58.68 272.73 58.77C272.78 58.85 272.83 58.94 272.89 59.02C272.94 59.1 272.99 59.19 273.05 59.27C273.1 59.35 273.16 59.43 273.22 59.51L274.45 61.2C274.58 61.37 274.74 61.52 274.92 61.64C275.1 61.75 275.3 61.83 275.51 61.87C275.72 61.91 275.94 61.91 276.15 61.87C276.37 61.83 276.57 61.75 276.75 61.64L278.11 60.77C278.27 60.66 278.41 60.53 278.52 60.37C278.63 60.22 278.72 60.05 278.78 59.86C278.83 59.68 278.86 59.49 278.85 59.3C278.84 59.11 278.8 58.92 278.73 58.74L278.73 58.74Z"></path>
                  <path class="shp7" d="M246.24 39.06L245.02 39.16L237.53 57.24C237.63 57.25 237.73 57.25 237.84 57.25C237.94 57.25 238.04 57.25 238.14 57.24C238.25 57.23 238.35 57.22 238.45 57.2C238.55 57.18 238.65 57.16 238.75 57.14C238.85 57.12 248.51 53.5 251.46 52.14C249.48 48.05 246.24 39.06 246.24 39.06Z"></path>
                  <path class="shp10" d="M232.57 43.8C232.8 44.98 233.07 46.15 233.4 47.3C233.72 48.46 234.09 49.6 234.51 50.73C234.93 51.85 235.39 52.96 235.91 54.05C236.42 55.13 236.97 56.2 237.57 57.24C241.23 55.98 247.33 53.6 250.29 52.24C249.79 51.17 249.31 50.1 248.84 49.02C248.37 47.94 247.92 46.86 247.47 45.77C247.03 44.68 246.61 43.58 246.19 42.48C245.78 41.38 245.38 40.27 245 39.16C241.87 39.37 235 42 232.57 43.8Z"></path>
                  <path class="shp7" d="M240 47.71C239.7 48.71 238.83 49.43 237.79 49.54C236.75 49.64 235.75 49.11 235.26 48.2C234.76 47.28 234.87 46.15 235.53 45.34C236.19 44.53 237.27 44.2 238.27 44.5C238.59 44.6 238.9 44.76 239.16 44.97C239.42 45.19 239.64 45.45 239.8 45.75C239.96 46.05 240.06 46.37 240.09 46.71C240.13 47.05 240.1 47.39 240 47.71Z"></path>
                  <path class="shp12" d="M241.91 44.27C241.83 44.61 241.55 44.87 241.2 44.92C240.85 44.97 240.51 44.8 240.34 44.49C240.17 44.19 240.2 43.81 240.43 43.54C240.65 43.26 241.02 43.16 241.35 43.27C241.45 43.3 241.54 43.35 241.63 43.42C241.71 43.49 241.78 43.57 241.83 43.66C241.88 43.75 241.91 43.85 241.93 43.96C241.94 44.06 241.94 44.17 241.91 44.27L241.91 44.27Z"></path>
                  <path class="shp12" d="M244.15 43.4C244.1 43.63 243.96 43.84 243.75 43.96C243.55 44.08 243.3 44.11 243.07 44.05C242.84 43.98 242.65 43.81 242.55 43.6C242.45 43.38 242.44 43.13 242.53 42.91C242.56 42.8 242.61 42.71 242.68 42.62C242.75 42.53 242.84 42.46 242.94 42.41C243.04 42.36 243.14 42.33 243.25 42.32C243.36 42.31 243.47 42.32 243.58 42.35C243.69 42.38 243.78 42.43 243.87 42.5C243.96 42.57 244.03 42.66 244.08 42.76C244.13 42.86 244.17 42.96 244.18 43.07C244.19 43.18 244.18 43.29 244.15 43.4L244.15 43.4Z"></path>
                  <path class="shp13" d="M247.29 51.19L238.04 54.84L237.49 53.02L246.73 49.37L247.29 51.19L247.29 51.19Z"></path>
                </g>
                <g class="rocket">
                  <path class="shp5" d="M196.26 190.17C196.25 191.62 196.22 193.08 196.14 194.53C196.07 195.99 195.96 197.44 195.82 198.88C195.68 200.33 195.51 201.78 195.3 203.22C195.09 204.66 194.85 206.09 194.58 207.52C193.4 212.66 191.57 216.42 189.08 218.8C188.5 219.37 187.87 219.89 187.19 220.34C186.51 220.78 185.79 221.16 185.03 221.47C184.28 221.78 183.5 222.01 182.7 222.16C181.9 222.31 181.08 222.38 180.27 222.37C175.13 222.37 171.21 219.57 168.5 213.96C168.38 213.71 168.27 213.45 168.16 213.2C168.05 212.94 167.94 212.69 167.84 212.43C167.74 212.17 167.64 211.91 167.55 211.64C167.46 211.38 167.37 211.12 167.29 210.85C165.86 212.08 164.46 213.33 163.08 214.61C161.7 215.89 160.34 217.2 159.02 218.54C157.69 219.87 156.39 221.23 155.11 222.62C153.84 224 152.59 225.42 151.37 226.85L146.06 233.11C146.77 233.83 147.51 234.53 148.28 235.19C149.05 235.86 149.84 236.49 150.66 237.09C151.48 237.69 152.32 238.26 153.18 238.8C154.04 239.33 154.93 239.83 155.83 240.3C162.06 243.52 170.23 245.13 180.35 245.14C182.13 245.14 183.85 245.09 185.52 244.99C187.05 242.73 188.51 240.42 189.91 238.08C191.31 235.73 192.64 233.34 193.9 230.92C195.16 228.5 196.35 226.04 197.47 223.55C198.59 221.06 199.64 218.54 200.62 215.99L215.47 177.27L196.26 190.17Z"></path>
                  <path class="shp9" d="M62.39 243L79.89 260.5L128.89 214.33C112 207.88 79.16 226.19 62.39 243Z"></path>
                  <path class="shp9" d="M123.42 304C117.83 298.4 105.92 286.5 105.92 286.5L152.09 237.5C158.5 254.35 140.19 287.22 123.42 304Z"></path>
                  <path class="primary-color" d="M190.4 193.7L209.49 156.89L172.68 176C169.73 177.53 166.83 179.16 163.99 180.89C161.15 182.62 158.38 184.45 155.66 186.38C152.95 188.3 150.31 190.32 147.73 192.42C145.16 194.53 142.66 196.72 140.24 199L77.49 258.07L108.32 288.9L167.39 226.15C169.67 223.73 171.86 221.23 173.97 218.65C176.08 216.08 178.1 213.44 180.02 210.72C181.94 208.01 183.77 205.23 185.5 202.39C187.24 199.55 188.87 196.65 190.4 193.7L190.4 193.7Z"></path>
                  <path class="shp14" d="M190.4 193.7L209.49 156.89L172.68 176C169.73 177.53 166.83 179.16 163.99 180.89C161.15 182.62 158.38 184.45 155.66 186.38C152.95 188.3 150.31 190.32 147.73 192.42C145.16 194.53 142.66 196.72 140.24 199L77.49 258.07L108.32 288.9L167.39 226.15C169.67 223.73 171.86 221.23 173.97 218.65C176.08 216.08 178.1 213.44 180.02 210.72C181.94 208.01 183.77 205.23 185.5 202.39C187.24 199.55 188.87 196.65 190.4 193.7L190.4 193.7Z"></path>
                  <path class="shp10" d="M151.2 228.08C144.07 228.08 138.3 222.31 138.3 215.18C138.3 208.05 144.07 202.28 151.2 202.28C158.33 202.28 164.1 208.05 164.1 215.18C164.1 222.31 158.33 228.08 151.2 228.08Z"></path>
                  <path class="primary-color" d="M151.2 223.47C146.62 223.47 142.91 219.76 142.91 215.18C142.91 210.6 146.62 206.89 151.2 206.89C155.78 206.89 159.49 210.6 159.49 215.18C159.49 219.76 155.78 223.47 151.2 223.47Z"></path>
                  <path class="shp7" d="M118.75 277.82L88.56 247.63L113.28 224.37L142.01 253.11L118.75 277.82L118.75 277.82Z"></path>
                  <path class="primary-color opacity-05" d="M69.22 270.62C46.62 272.45 39.13 286.92 36.57 306.15C35.27 315.96 34.69 325.89 26.46 331.63C25.96 331.97 25.59 332.45 25.4 333.02C25.2 333.59 25.2 334.2 25.38 334.77C25.56 335.34 25.93 335.84 26.42 336.18C26.9 336.53 27.49 336.71 28.09 336.69C58.43 335.74 72.58 320.89 74.36 314.69C74.24 315.5 74.1 316.31 73.94 317.11C73.78 317.91 73.59 318.71 73.39 319.5C73.18 320.29 72.95 321.07 72.69 321.85C72.44 322.63 72.17 323.4 71.87 324.16C71.65 324.7 71.61 325.29 71.75 325.86C71.89 326.42 72.2 326.93 72.64 327.3C73.09 327.68 73.64 327.9 74.22 327.95C74.8 327.99 75.37 327.85 75.87 327.55C84.38 322.22 95.06 312.4 95.77 296.47C89.51 287.6 69.22 270.62 69.22 270.62Z"></path>
                  <path class="shp6" d="M69.22 270.62C46.62 272.45 39.13 286.92 36.57 306.15C35.27 315.96 34.69 325.89 26.46 331.63C25.96 331.97 25.59 332.45 25.4 333.02C25.2 333.59 25.2 334.2 25.38 334.77C25.56 335.34 25.93 335.84 26.42 336.18C26.9 336.53 27.49 336.71 28.09 336.69C58.43 335.74 72.58 320.89 74.36 314.69C74.24 315.5 74.1 316.31 73.94 317.11C73.78 317.91 73.59 318.71 73.39 319.5C73.18 320.29 72.95 321.07 72.69 321.85C72.44 322.63 72.17 323.4 71.87 324.16C71.65 324.7 71.61 325.29 71.75 325.86C71.89 326.42 72.2 326.93 72.64 327.3C73.09 327.68 73.64 327.9 74.22 327.95C74.8 327.99 75.37 327.85 75.87 327.55C84.38 322.22 95.06 312.4 95.77 296.47C89.51 287.6 69.22 270.62 69.22 270.62Z"></path>
                  <path class="primary-color" d="M99.28 303.3L63.08 267.1L82.36 262.93L103.45 284.02L99.28 303.3L99.28 303.3Z"></path>
                </g>
              </svg>
</template>
<style lang="scss" scoped>
  tspan { white-space:pre }                     
                  .shp1 { opacity: 0.702;fill: #ffffff }
                  .shp2 { opacity: 0.2;fill: #e2c636 }
                  .shp3 { opacity: 0.302;fill: #ffffff }                     
                  .shp5 { opacity: 0.2;fill: #000000 }
                  .shp6 { opacity: 0.2; fill: #24695c  }
                  .shp7 { opacity: 0.302;fill: #e2c636 }
                  .shp8 { opacity: 0.8;fill: #ffffff }
                  .shp9 { fill: #ba895d }
                  .shp10 { fill: #ffffff }
                  .shp11 { opacity: 0.502;fill: #ffffff }
                  .shp12 { opacity: 0.6;fill: #e2c636 }
                  .shp13 { opacity: 0.502;fill: #e2c636 }
                  .shp14 { opacity: 0.6;fill: #ffffff }
</style>