<template>
  <i data-feather="message-square">
    <img
      class="img-fluid rounded-circle me-3"
      src="../../assets/images/user/user.png"
      alt=""
      width="30"
    />
    <span v-if="user">{{ username }}</span>
  </i>
  <ul class="chat-dropdown onhover-show-div">
    <li>
      <div class="media">
        <img
          class="img-fluid rounded-circle me-3"
          src="../../assets/images/user/user.png"
          alt=""
        />
        <div class="media-body" v-if="user">
          <span
            ><b>{{ fullname }}</b></span
          >
          <p class="f-12 light-font" v-if="roles == 1">Admin</p>
          <p class="f-12 light-font" v-if="roles == 2">Research</p>
          <p class="f-12 light-font" v-if="roles == 3">Opr</p>
        </div>
      </div>
    </li>
    <li class="text-center">
      <span @click="logout" class="btn btn-block text-danger">Logout</span>
    </li>
  </ul>
</template>
<script>
import router from "@/router";
const SecretKey = process.env.VUE_APP_SECRET_KEY;
const CryptoJS = require("crypto-js");

export default {
  components: {},
  data() {
    return {
      user: localStorage.getItem("user"),
      roles: 1,
      username: localStorage.getItem("name"),
      fullname: localStorage.getItem("full"),
    };
  },
  mounted() {
    const localToken = CryptoJS.AES.decrypt(
      localStorage.getItem("lvl").toString(),
      SecretKey
    ).toString(CryptoJS.enc.Utf8);
    this.roles = localToken;
  },
  methods: {
    logout() {
      localStorage.removeItem("user");
      localStorage.removeItem("token");
      localStorage.removeItem("name");
      localStorage.removeItem("full");
      localStorage.removeItem("lvl");
      router.push("/auth/login");
    },
  },
};
</script>
