<template>
	<div>
		<!-- page-wrapper Start-->
	<div class="page-wrapper compact-wrapper " id="pageWrapper">        
      <div class="error-wrapper">
        <div class="container">
          <div class="error-page1">
            <div class="svg-wrraper">
             <!-- <errorPage4/> -->
            </div>
            <div class="col-md-8 offset-md-2">
              <h3>401 - Access Dedined !!</h3>
              <p class="sub-content">.</p><router-link class="btn btn-primary btn-lg" :to="{ path: '/' }">BACK TO HOME PAGE</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</template>
<script>
import errorPage4 from "./svg/errorPage4.vue"
export default {
  components:{
    errorPage4
  }
}
</script>
